{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <hr>
<a href="{% url 'account_login' %}?process=login">Login with Email</a><br><br>

<a href="{% provider_login_url 'google' %}">
    Login with Google
</a><br><br>

<a href="{% provider_login_url 'github' %}">
    Login with GitHub
</a>

    <p>Don't have an account? <a href="{% url 'courses:register' %}">Register</a></p>
</body>
</html>